/* Selector universal*/

*{
    padding: 0;
    margin: 0;
}

/*Selector de Etiquetas*/

body{

    background-color: #0a0a0a;
    color: rgb(247, 245, 255);
    margin: 0px;
    padding: 0px;

}

/*Selector de clase*/

.texto{

    text-align: justify;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 5px 25px;
    color:#000;



}

.img{

    width: 150px;
    padding: 25px;
    border-radius: 5px;
    justify-items: center;


}
.encabezado-articulo{

    padding: 10px;
    text-align: center;
    background-color: rgb(83, 152, 87);
    color: rgb(255, 255, 255);
    margin: 1em 2em;
    border-radius: 5px;

}

.encabezado-aside{
    
    padding: 10px 10px;
    text-align: center;
    background-color: rgb(69, 134, 72);
    color :white;
    margin: 1em 2em;
}

.menu-aside{

    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    padding: 0, 25px;

}

.lista-aside{

    padding: 10px;

}

.lista-aside li{

    display: flex;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 0, 2px;
    list-style: square;
    color: #350f0f;

}

/*Selector id*/

#contenedor{

    width: 900px;
    height: 1100;
    background-color: rgb(170, 252, 138);
    /*max-width: 1000 auto;*/
    border-radius: 5px;

}

#encabezado{

    width: 30%;
    background-color:rgb(94, 170, 64);
    margin: 2em;
    border-radius: 15px;
    padding: 0 50px;


}

#menu{

    height: 5%;
    background-color: rgb(138, 194, 65);
    margin: 1em;
    border-radius: 8px;
}

#contenido{

    height: 85%;
    width: 58%;
    background-color: #8fbe63;
    margin: 0.5em;
    display: inline-block;
    border-radius: 5px;
    text-align: center;

}

#fueraSeccion{

    height: 50%;
    width: 35%;
    /*background-color: rgb(179, 223, 208);*/
    margin: 0.5em;
    display: inline-block;
    vertical-align: top;
    border-radius: 8px;

}

#pie{

    height: 10%;
    background-color: rgb(115, 172, 62);
    margin: 1.5em;
    text-align: center;
    padding: 5px;

}

#pie h4{

    height: 15px;
    font-size: 30px;
    
}

/*Selector de etiquetas*/

ul{

    text-align: center;
    padding: 10px;

}

li{

    display: inline;
    padding: 10px 30px;
    margin: 3em;

}

li a:hover{
    
    color:  crimson;
    text-decoration: none;
    list-style: none;

}
/*header{
    background: darkblue;
    height: 100px;
    border-bottom: 2px solid #000;
    border-image: 2px ;
    margin: 0px;
    padding: 0px;
    text-align: center;
    line-height: 100px;
    image-resolution: 1920;
}*/

#footer{
    background: #65a02d;
    height: 60px;
    margin: 0px;
    padding: 0px;
    text-align: center;
    color: white;
    
}